@{
    ViewData["Title"] = "AHN";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Team Darth</h1>
        <p>auHack19</a>.</p>
        <p>Write your tag and submit for start service for 48 hours</a>.</p>
    </div>


<form method="POST">
    <label for="tagSnapChat">SnapchatTag</label>
    <input type="text" id="tagSnapChat" placeholder="Your tag goes here" />
    <input type="submit" />
</form>

<form method="POST">
    <label for="tagInstagram">InstagramTag</label>
    <input type="text" id="tagInstagram" placeholder="Your tag goes here" />
    <input type="submit" />
</form>

<form method="POST">
    <label for="tagTwitter">TwitterTag</label>
    <input type="text" id="tagTwitter" placeholder="Your tag goes here" />
    <input type="submit" />
</form>
